body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://i.pinimg.com/736x/36/a0/85/36a085785eabcc6add04d35e8c97be37.jpg");
}
#booksContainer {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    background-color: #d1e2f0;
}

.card-content {
    flex-grow: 1;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #d1e2f0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#newBookModal {
    background-color: #d1e2f0;
}
.modal-content {
    background-color: #d1e2f0;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
button {
    --color: rgb(233, 146, 146);
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    padding: 5px 15px;
    margin: 5px;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 220px;
    height: 330px;
    z-index: -1;
    border-radius: 30%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
  
  h2 {
    margin: 30px 10px;
  }

  input {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }

  label {
    background-color: #d1e2f0;
  }